<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select(:status, options_for_select([['student', 1], ['other', 2]])) %>
  </div>

  <h3>Posts</h3>

  <div id='posts'>
    <%= form.fields_for :posts do |post_form| %>
      <%= render 'posts/fields', :form => post_form %>
    <% end %>

    <div class='links'>
      <%= link_to_add_association 'Add post', form, :posts, form_name: :form %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
