<div class="nested-fields">

  <%= link_to_remove_association "Remove", form %>
  <%= link_to 'Move up', '#', class: 'cocooned-move-up' %>
  <%= link_to 'Move down', '#', class: 'cocooned-move-down' %>

  <%= form.label :label %>
  <%= form.text_field :label %>
  <%= form.hidden_field :position %>
</div>
