<div class="cocooned-item">

  <%= cocooned_remove_item_link "Remove", form %>
  <%= cocooned_move_item_up_link 'Move up', form %>
  <%= cocooned_move_item_down_link 'Move down', form %>

  <%= form.label :label %>
  <%= form.text_field :label %>
  <%= form.hidden_field :position %>
</div>
