<div class="cocooned-item">

  <%= cocooned_remove_item_link "Remove", form %>
  <%= link_to 'Move up', '#', class: 'cocooned-move-up' %>
  <%= link_to 'Move down', '#', class: 'cocooned-move-down' %>

  <%= form.label :label %>
  <%= form.text_field :label %>
  <%= form.hidden_field :position %>
</div>
